@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Mulish:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {
    font-family: Comfortaa;
}

.date {
    position: relative;
    text-align: center;
    /* left: 30.5%; */
    margin-top: 25px;
    color: black;
    font-size: 18pt;
}

.time {
    position: relative;
    text-align: center;
    /* left: 40%; */
    margin-top: 5px;
    color: black;
    font-size: 24pt;
}

.ahhh {
    text-align: center;
}

.mainTemp {
    position: relative;
    /* text-align: center; */
    /* left: 45%; */
    margin-top: 10px;
    font-size: 45pt;
}

.super {
    position: relative;
    font-size: 16pt;
    vertical-align: top;
}

.highhh {
    text-align: center;
}

.highlowtemp {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 900;
    font-size: 30px;
    /* margin-top: 10px; */
}

.statusdiv {
    text-align: center;
    /* margin-top: 10px; */
    margin-bottom: -5px;

}

#status {
    position: relative;
    margin-left: 20px;
    top: 25px;
    /* bottom: 90px; */
    display: inline-block;
    vertical-align: top;
}

.iconstatus {
    position: relative;
    display: inline-block;
    height: 70px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 40px;
}

.sunRiseSet {
    position: relative;
    left: 25.5%;
    margin-top: 5px;
}

.sunRiseSet td{
    padding-right: 100px;
    text-align: center;
}

.tempInfo {
    position: relative;
    margin-left: 25px;
    /* bottom: 75px; */
}

.tempInfo td{
    padding-right: 20px;
    font-size: 14pt;
}

#status {
    position: relative;
    font-size: 16pt;
}

.infoTable {
    position: relative;
    /* bottom: 15px; */
    /* left: 7.5%;
    border-spacing: 30px; */
    margin-top: 10px;
}

.infoTable td {
    background-image: url("./circle_faded.png");
    width: 79px;
    height: 79px;
    text-align: center;
}

